[submodule "TelegaPi"]
	path = TelegaPi
	url = https://github.com/ms301/TelegaPi.git
[submodule "mORMot2"]
	path = mORMot2
	url = https://github.com/synopse/mORMot2.git
[submodule "AtbMarketApi"]
	path = AtbMarketApi
	url = https://github.com/ms301/AtbMarketApi.git
[submodule "Silpo.ua"]
	path = Silpo.ua
	url = https://github.com/ms301/Silpo.ua.git
